html {
  cursor: url("cursorIcon.cur"), auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
}

.card {
  position: relative;
  background-color: #1e1e1e;
  max-width: 380px;
  margin-top: 8rem;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.6);
}
*/
.profileImage {
  position: absolute;
  object-fit: cover;
  top: -130px;
  left: calc(50% - 80px);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #2e2e2e;
  margin-top: 0.8rem;
  transition: transform 0.3s ease;
}

/*.card:hover .profileImage {
  transform: scale(1.05) rotate(3deg);
}*/

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  font-family: "Press Start 2P", monospace;
  color: #9b59b6;
  color: #ce6bf6;
}

#developerMessage {
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.card p {
  font-size: 1rem;
  color: #cfcfcf;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 1.5rem auto;
}

#welcomeMessage {
  max-width: 260px;
  background-color: #2c2c2ca9;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.links a {
  background-color: #2a2a2a;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #d791f3;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  font-family: "orbitron", sans-serif;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.links a:hover {
  background-color: #ce6bf6;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.links a:active {
  transform: translateY(1px);
  background-color: #60177d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .card {
    margin-top: 10rem;
  }
}
